
<input type="hidden" name="Label" ng-model="company.Label">
<div class="form-group">
    Label: 
    {{company.Label}}
</div>

<div class="form-group">
    <label for="Name">Company name</label>
    <input name="Name" type="text" class="form-control" placeholder="Enter Name" ng-model="company.Name">
</div>

<div class="form-group">
    <label for="Email">Company Email</label>
    <input name="Email type="text" class="form-control" placeholder="Enter Email" ng-model="company.Email">
</div>
<div class="form-group">
    <label for="Website">Company Website</label>
    <input name="Website" type="text" class="form-control" placeholder="Enter Website" ng-model="company.Website">
</div>
<div class="form-group">
    <label for="PhoneNumber">Company PhoneNumber</label>
    <input name="PhoneNumber" type="text" class="form-control" placeholder="Enter PhoneNumber" ng-model="company.PhoneNumber">
</div>
<div class="form-group">
    <label for="IsActive">Company active</label>
    <input name="IsActive" type="checkbox" class="form-control" ng-model="company.IsActive">
</div>
<div class="form-group">
    <label for="ActiveFrom">Active from</label>
    <input name="ActiveFrom" type="text" class="form-control" placeholder="Enter ActiveFrom" ng-model="company.ActiveFrom">
</div>
<div class="form-group">
    <label for="ActiveTo">Active To</label>
    <input name="ActiveTo" type="text" class="form-control" placeholder="Enter ActiveTo" ng-model="company.ActiveTo">
</div>
